/*  Author's name: Sahil Mahajan
    Student	Number:	300881428
    Date Modified: October 25th, 2016
    Short Version History: Part-1.Project Concept & Setup, 
                           Part-2.Main	Game Tracking Page, DB & Partial Function
                           Part-3.Full Functionality & Site Security 
    File Description: Custom Css file. Changed body's font family to Raleway, sans-serif, and added padding to nav.
                      Update: Improved Css.
*/
body {
    font-family: 'Raleway', sans-serif;
    background-image: url('../Images/London_Stadium.jpg');
    /*background-repeat:no-repeat;*/
    width: 100%;
    height: auto;
    color:white;
    opacity:0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
border-radius:5%;
}

a {
    color:yellow;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #000000;
}

.navbar-default {
    background-color: #080808;
    border-color: #2a7165;
    border-width: 10px;
    border-radius: 10%;
    height: 128px;
}

    .navbar-default .navbar-nav > li > a {
        color: #dff0d8;

}

.jumbotron {
    background-color: #370F3F;
}

#bs-example-navbar-collapse-1 {
padding-bottom: 60px;
}

.myNewDivHeight{
        height:250px;
    }

.myNewDivHeight div{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 360px) {
    
    /*.myNewDivHeight h5{
    display:none;
}*/
}

.navbar-toggle {
    margin-top: 37px;
}